<div class="login">
    <div class="login__content">
        <h1 class="login__title">Вход</h1>
        <form class="login__form">
            {{{ LoginInput }}}
            {{{ PasswordInput }}}
            <div class="login__form-buttons">
                {{{ LoginButton }}}
                {{{ RegisterButton }}}
            </div>
        </form>
    </div>
</div>