.settings__info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #2b2b2b;

  &.error {
    border-color: red; 
  }
}

.settings__info-rows {
  margin-bottom: 60px;
}

.settings__info-label {
  font-size: 18px;
  font-weight: 500;
}

.settings__info-input {
  font-size: 16px;
  font-weight: 500;
  width: 50%;
  text-align: right;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
}
