.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  > li {
    list-style-type: none;
  }
}

.navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgb(0, 138, 202);
  height: 40px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.15s;

  &:hover {
    background: rgb(0, 138, 202, 0.8);
  }
}
